
.button{
    display:flex;
    justify-content: center;
}
button.add{
    background-color: rgb(1,152,122);
}
button{
    border: none;
    padding: 11px 60px;
    color: white;
    border-radius: 20px;
}
span{
    color:rgb(212, 20, 20)
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}